ul li a:hover{
  color: red;
}

.active{
  color: red;
}

#nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem ;
  height: 5rem;
  background-color: transparent;
  /* position: absolute; */
  z-index: 10;
  top: 0;
  left: 0;
}

.header__menu{
  display: flex;
  gap: 1rem;
}

.top__header{
  display: flex;
  justify-content: space-between;
}

.top__left,
.top__right{
  display: flex;
  gap: 1rem;
}

