ul li a:hover{
  color:  #e00001;
}

ul li a{
font-family: Stop;
font-weight: 100;
letter-spacing: .75px;
transition: .2s;
}

.active{
  color:  #e00001;
}

#nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem ;
  height: 5.25rem;
  background-color: transparent;
  /* position: absolute; */
  z-index: 10;
  top: 0;
  left: 0;
}

.header__menu{
  display: flex;
  gap: 1rem;
}

.top__header{
  display: flex;
  justify-content: space-between;
}

.top__left,
.top__right{
  display: flex;
  gap: 1rem;
}

.header__logo img{
  font-size: 10px;
  width: 7rem;
  position: relative;
  bottom: 1rem;
}

