ul li a:hover{
  color:  #e00001;
}

ul li a{
font-family: Stop;
font-weight: 100;
letter-spacing: .75px;
transition: .2s;
}

.active{
  color:  #e00001;
}

#nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem ;
  height: 5.25rem;
  background-color: transparent;
  /* position: absolute; */
  z-index: 10;
  top: 0;
  left: 0;
}

.header__menu{
  display: flex;
  gap: 1rem;
}

.top__header{
  display: flex;
  justify-content: space-between;
}

.top__left,
.top__right{
  display: flex;
  gap: 1rem;
}

.header__logo img{
  font-size: 10px;
  width: 7rem;
  position: relative;
  bottom: 1rem;
}

.top__btn{
  color: #fff;
  background-color: rgba(218, 2, 2, .8);
  border: 2px solid  rgba(218, 2, 2, .8);
  font-family: Stop;
  padding: .75rem;
  border-radius: 8%;
  position: relative;
  bottom: 14px;
  letter-spacing: 2.5px;
  transition: letter-spacing 400ms,
  transform 400ms ;
}

.top__btn:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.stick__logo{
height: 2.5rem;
width: 4rem;
position: absolute;
right: 0;
top: 0;
fill: #fff;
}
