.home{
  max-width: 2624px;
  width: 100%;
  /* margin: 0 auto; */
}

.home__banner{
  height: 100vh;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.donate__btn{
  position: absolute;
  border: 4px solid  rgb(218, 2, 2);
  background-color:  rgb(218, 2, 2);
  color: white;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 4px;
  border-radius: 8%;
  bottom: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: Stop;
  transition: letter-spacing 500ms ;
}

.donate__btn:hover{
  background-color: white;
  color: black;
  border: 4px solid black;
  /* font-weight: 900; */
  letter-spacing: 8px;
}

.slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-position: center; */
  object-fit: cover;
  z-index: 7;
  /* display: none; */
  opacity: 0;
  transition: .8s;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: contrast(80%);
}

.slide.active{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  z-index: 8;
  display: flex;
  opacity: 1;
  /* transition: ease 1s; */
}


.prev,
.next{
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translate(0, -50%); 
  width: .5rem;
  color: rgb(230, 230, 230);
  /* line-height: 1rem; */
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.prev:hover,
.next:hover{
  opacity: .45;
  color: black;
}

.prev:active,
.next:active{
  opacity: 1;
  color: black;
}
.prev{
left: 2rem;
}

.next{
right: 2rem;
}

.indicator{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* right: 0; */
  margin: 0 auto;
  bottom: 1rem;
  z-index: 21;
}


.indicator div{
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  text-align: center;
  line-height: 1rem;
  margin: 0 8px;
  cursor: pointer;
}

.indicator div.active{
  background-color: black;
  opacity: .65;
} 